*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/background.jpg');
    background-size: cover;
    color: lightgray;
}

#title{
    padding-top: 30px;
    padding-bottom: 10px;
}

#description{
    padding-bottom: 30px;
}

#container{
    width: 500px;
    margin: 0 auto;
    /* display: flex;
    justify-content: center; */
}

.input-group{
    margin-bottom: 20px;
}

.input-group input{
    padding:5px;
    display: block;
}

#survey-form{
    text-align: left;
    background: hsla(271, 72%, 24%, 0.8);
    padding: 20px;
    border-radius: 5px;
}

#dropdown{
    display: block;
}

.selection-group{
    display: flex;
}